<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login_register.css') }}">>
</head>
<body>
  <div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flashed_message {{ category }}">
        {{ message }}
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

      <input type="text" name="username" placeholder="Enter Username" required>
      <input type="password" name="password" placeholder="Enter Password" required>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
  </div>
</body>
</html>
